.option-selector {
  display: flex;

  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  &.vertical {
    flex-direction: column;
  }

  .option {
    cursor: pointer;
    background-color: #f89c13;
    color: #fff;
    padding: 2px 4px;
    margin: 3px;
    width: max-content;
    border-radius: 5px;

    &.selected {
      background-color: darken(palevioletred, 15);
    }

    .option-check {
      margin: 0px 5px;

      i {
        font-size: 12px;
      }
    }

    &:hover {
      background-color: palevioletred;
    }
  }
}
